<?php
/*
 * Modified: prepend directory path of current file, because of this file own different ENV under between Apache and command line.
 * NOTE: please remove this comment.
 */
defined('BASE_PATH') || define('BASE_PATH', getenv('BASE_PATH') ?: realpath(dirname(__FILE__) . '/../..'));
defined('APP_PATH') || define('APP_PATH', BASE_PATH . '/app');

return new \Phalcon\Config([
    'database' => [
        'adapter'     => 'Mysql',
        'host'        => 'localhost',
        'username'    => 'root',
        'password'    => '',
        'dbname'      => 'smarthome',
        'charset'     => 'utf8',
    ],
    'application' => [
        'appDir'         => APP_PATH . '/',
        'controllersDir' => APP_PATH . '/controllers/',
        'modelsDir'      => APP_PATH . '/models/',
        'formsDir'       => APP_PATH . '/forms/',
        'migrationsDir'  => APP_PATH . '/migrations/',
        'viewsDir'       => APP_PATH . '/views/',
        'pluginsDir'     => APP_PATH . '/plugins/',
        'libraryDir'     => APP_PATH . '/library/',
        'cacheDir'       => BASE_PATH . '/cache/',
        'vendorDir'      => APP_PATH . '/vendor/',
        'servicesDir'    => APP_PATH . '/services/',
        'translationsDir' => APP_PATH . '/translations/',
        'default_language' => 'pt-br',
        'translations'     => [
            'pt-br' => 'Português Brasileiro',
            'en-us' => 'English'
        ],
        'baseUrl' => "http://10.0.75.1/SmartHomeLPS/",

        // This allows the baseUri to be understand project paths that are not in the root directory
        // of the webpspace.  This will break if the public/index.php entry point is moved or
        // possibly if the web server rewrite rules are changed. This can also be set to a static path.
        'baseUri'        => preg_replace('/public([\/\\\\])index.php$/', '', $_SERVER["PHP_SELF"]),
    ],
    'fiware' => [
        'orionBaseUrl'     => 'http://localhost:1026/v2/',
    ],
    'smarthome' => [
        'alert' => [
            'services' => [
                'SmartHomeLPS\Services\SmartHome\EmailAlertService',
                'SmartHomeLPS\Services\SmartHome\SMSAlertService'
            ],
            'config' => [
                "cronLimit" => 360
            ]
        ],
        'report' => [
            'services' => [
                'SmartHomeLPS\Services\SmartHome\PDFReport',
                'SmartHomeLPS\Services\SmartHome\ViewReport',
                'SmartHomeLPS\Services\SmartHome\SpreadsheetReport',
            ]
        ],
        'central' => [
            'service' => 'SmartHomeLPS\Services\SmartHome\CentralService',
            'baseUrl' => 'http://169.254.96.153/'
        ],
        'sensors' => [
            [
                'name' => 'Temperature',
                'type' => 'Float'
            ],
            [
                'name' => 'Luminosity',
                'type' => 'Boolean'
            ],
            [
                'name' => 'Presence',
                'type' => 'Boolean'
            ],
            [
                'name' => 'Rain',
                'type' => 'Boolean'
            ]
        ],
        'devices' => [
            [
                'name' => 'Light',
                'actions' => [
                    [
                        'action' => 'ON',
                        'name' => 'On'
                    ],
                    [
                        'action' => 'OFF',
                        'name' => 'Off'
                    ]
                ]
            ],
            [
                'name' => 'Window',
                'actions' => [
                    [
                        'action' => 'OPEN',
                        'name' => 'Open'
                    ],
                    [
                        'action' => 'CLOSE',
                        'name' => 'Close'
                    ]
                ]
            ],
            [
                'name' => 'Heater',
                'actions' => [
                    [
                        'action' => 'ON',
                        'name' => 'On'
                    ],
                    [
                        'action' => 'OFF',
                        'name' => 'Off'
                    ],
                    [
                        'action' => 'HEAT',
                        'name' => 'Heat'
                    ],
                    [
                        'action' => 'COOL',
                        'name' => 'Cool'
                    ]
                ]
            ],
            [
                'name' => 'Air Conditioning',
                'actions' => [
                    [
                        'action' => 'ON',
                        'name' => 'On'
                    ],
                    [
                        'action' => 'OFF',
                        'name' => 'Off'
                    ],
                    [
                        'action' => 'HEAT',
                        'name' => 'Increase Temperatura'
                    ],
                    [
                        'action' => 'COOL',
                        'name' => 'Decrease Temperatura'
                    ],
                    [
                        'action' => 'CHANGE',
                        'name' => 'Manual Control',
                        'parameters' => [
                            [
                                'parameter' => 'TEMPERATURE',
                                'name' => 'Temperature',
                                'type' => 'INT'
                            ]
                        ]
                    ]
                ]
            ],
            [
                'name' => 'Security Camera',
                'actions' => [
                    [
                        'action' => 'ON',
                        'name' => 'On'
                    ],
                    [
                        'action' => 'OFF',
                        'name' => 'Off'
                    ],
                    [
                        'action' => 'STANDBY',
                        'name' => 'StandBy'
                    ],
                    [
                        'action' => 'REC',
                        'name' => 'Rec Mode'
                    ],
                    [
                        'action' => 'NORMAL',
                        'name' => 'Normal Mode'
                    ]
                ]
            ],
            [
                'name' => 'Door',
                'actions' => [
                    [
                        'action' => 'LOCK',
                        'name' => 'Lock'
                    ],
                    [
                        'action' => 'UNLOCK',
                        'name' => 'Unlock',
                        'parameters' => [
                            [
                                'parameter' => 'PIN',
                                'name' => 'PIN',
                                'type' => 'STRING'
                            ]
                        ]
                    ],
                ]
            ],
            [
                'name' => 'Irrigation Sprinkler',
                'actions' => [
                    [
                        'action' => 'ON',
                        'name' => 'On'
                    ],
                    [
                        'action' => 'OFF',
                        'name' => 'Off'
                    ],
                    [
                        'action' => 'MODE1',
                        'name' => 'Mode 1'
                    ],
                    [
                        'action' => 'MODE2',
                        'name' => 'Mode 2'
                    ],
                ]
            ]
        ]
    ],
    'mail' => array(
        'fromName'  => 'SmartHome System',
        'fromEmail' => 'brunnomoreira.silva@gmail.com',
        'smtp'      => array(
            'server'	=> 'smtp.gmail.com',
            'port' 		=> 465,
            'security'  => 'ssl',
            'username'  => 'brunnomoreira.silva@gmail.com',
            'password'  => 'prometeu'
        ),
        'mensagem'  =>  '<h1>Notificação SmartHome System</h1>'
    ),
    'amazon' => array(
        'key' => 'AKIAJIE4CTFYS6WNF6YQ',
        'secret' => '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'
    )
]);
